@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

[data-theme='dark'] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

[data-theme='light'] {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dark body {
  background: linear-gradient(135deg,
      rgba(13, 14, 16, 0.959),
      rgba(23, 1, 1, 0.833),
      rgba(6, 1, 40, 0.934));
}

/* Glassmorphism */
.glass-morphism {
  background: rgba(255, 255, 255, 0.212);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
}

.dark .glass-morphism {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Gradient Text */
.gradient-text {
  background: linear-gradient(135deg, #1960d4, #e11a1a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.dark .gradient-text {
  /* Set the gradient as the background */
  background: linear-gradient(135deg, #1960d4, #e11a1a);

  /* Ensure the gradient is applied to the text */
  -webkit-background-clip: text;
  background-clip: text;

  /* Make the text color transparent so the gradient shows through */
  color: transparent;
}

/* Gradient Border */
.gradient-border {
  position: relative;
}

.gradient-border::before {
  content: '';
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  padding: 2px;
   background: linear-gradient(135deg, #1960d4, #e11a1a);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.dark .gradient-border::before {
   background: linear-gradient(135deg, #1960d4, #e11a1a);
}

